body{
    margin:0px;
}
.nav{
    height: 68px;
    width:100%;
    background-color: black;
    color: white;
    text-transform: capitalize;
    /* position: fixed; */
    top: 0px;
    left:0px;
    font-size: 13px;
    font-weight:700;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-items{
    margin-left: 53%;
}
.item:hover{
    color: rgb(64, 215, 64);
    text-decoration:underline;
    transform: scale(1.2);
    text-underline-offset: 4px;

}
.item{
    display:inline-flex;
    justify-content:space-evenly;
    padding: 27px 18px;
}
.logo{
    position:absolute;
    top:7px;
    left:16%;
}
.banner{
    height:500px;
    width:100%;
    background-image: url(./logo/bubbles-dktp.svg),linear-gradient(rgb(178, 58, 178),rgb(69, 69, 212));
    background-size: cover;
    margin-top: 0px;
    margin-left:0px;
    overflow:hidden;

}
.img{
    margin-left:21%;
    margin-top:5.2%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-right: 60px;
    float: left;
}
.text{
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
}

.button{
    padding: 10px 20px;
    border-radius: 25px;
    border:0px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
button:hover{
    color:rgb(248, 47, 47);
    transform: scale(1.05);

}
.ques{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top:22px;
    font-weight:bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lists{
    list-style-type: none;
    margin-left:10%;
}
.sub{
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 65px;
}
.sublogo{
    display: block;
    margin:20px 30px;
    margin-bottom: 25px;
}
.sub-text{
    display: block;
}
.sub-t-head{
    display: block;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
}
.sub-t-p{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cont-2{
    height:500px;
}
.cont-3{
    height:400px;
    width:100%;
    border: 0px;
    background-image:linear-gradient(rgb(178, 58, 178),rgb(69, 69, 212));
    margin-top: 0px;
    margin-left:0px;
    overflow:hidden;
}
.banner-ques{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top:130px;
    font-weight: bolder;
    color: white;
    font-size: 40px;
    line-height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
}
.cont-4{
    height:400px;
    width: 100%;
}
.questions{
    display:block;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin-top:75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lists2{
    margin-left:15%;
    margin-right:20%;
    list-style-type: none;
}
.qts{
    display:block;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    padding:5px 0px;
    box-shadow: 0px 0.1px grey;
}
.qts:hover{
    background-color: rgba(138, 138, 138, 0.1);
    text-decoration:underline;
}
.endbanner{
    height:375px;
    width:100%;
    background-image: url(./logo/bubbles-dktp.svg),linear-gradient(rgb(178, 58, 178),rgb(69, 69, 212));
    background-size: cover;
    margin-top: 0px;
    margin-left:0px;
    overflow:hidden;
}
.cont-text{
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size:65px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:110px;
}
.button2{
    margin-left: 630px;
    margin-top:30px;
    padding: 12px 22px;
    border-radius: 25px;
    border:0px;
    font-size: 12px;
    font-weight:700;
    text-transform: uppercase;
}
.cont5{
    height:430px;
    width:100%;
    background-color: black;
    margin: 0px;
}
.footerlogo{
    margin-top: 45px;
    margin-left: 220px;
}
.ft1{
    margin-top: -48px;
    margin-left: 16.5em;
}
.foottext1{
    margin-left:1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foothead1{
    color:gray;
    font-size: 10px;
    font-weight:800;
    margin-left: 3em;
}
.ftdata1{
    color: white;
    font-size: 16px;
    margin-left:2em;
    margin-top: 17px;
}
.ft2{
    color:white;
    margin-top: -140px;
    margin-left: 24.3em;
    margin-right: 33em;
}
.ft3{
    color:white;
    margin-top: -209px;
    margin-left: 32.3em;
    margin-right: 29em;
}
.ftdata1:hover{
    color: rgb(64, 215, 64);
}
.ftsub{
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
    background-color: rgb(40, 40, 40);
    height:20px;
    width:20px;
    padding:10px;
    border-radius: 50%;
}
.ftlists{
    display: block;
    margin-left: 48em;
    margin-top:-135px;
    margin-right: 200px;
}
.ftsublogo{
    margin: 0.5px;
}
.twitter:hover{
    background-color:  rgb(64, 215, 64);
}
.twitter{
    background-color: white;
}
.lang{
    margin-top:19em;
    padding-bottom: 10px;
    margin-left: 92em;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.lang:hover{
    color: rgb(64, 215, 64) ;
}
.globe{
    border-radius: 3px;
    margin-right: 3px;
}
.enderlists{
    list-style-type: none;
    /* font-size: 12px; */
    margin-top: -10px;
    margin-left:180px;
}
.endlist{
    display: inline-block;
    margin-left:10px;
    color:rgb(132, 129, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.endlist:hover{
    color: rgb(64, 215, 64) ;
}
.cpy{
    margin-left:45em;
    font-size: 12px;
    color:grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



